.passwordInput {
    position: relative;
    width: 100%;
    height: max-content;
    border: 3px solid #96bfbf;
    border-radius: 10px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    background: white;
}

.passwordInputError {
    position: relative;
    width: 100%;
    height: max-content;
    border: 3px solid #cc7e7e;
    border-radius: 10px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    background: white;
}

.passwordInputPlaceholder {
    position: absolute;
    margin: auto;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    pointer-events: none;
    font-family: 'Russo One', sans-serif;
    color: #96bfbf;
}

.passwordInputPlaceholderError {
    position: absolute;
    margin: auto;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    pointer-events: none;
    font-family: 'Russo One', sans-serif;
    color: #cc7e7e;
}

.passwordInput input {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border: none;
    color: #96bfbf;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    outline: none;
    background: none;
}

.passwordInputError input {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border: none;
    color: #cc7e7e;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    outline: none;
    background: none;
}

.changeVisibilityButton {
    position: absolute;
    right: 0;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    color: #96bfbf;
}

.changeVisibilityButtonError {
    position: absolute;
    right: 0;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    color: #cc7e7e;
}

.changeVisibilityButton:hover {
    color: #68a3a3;
}

.changeVisibilityButtonError:hover {
    color: #da7676;
}

.passwordInput input:focus {
    color: #68a3a3;
}

.passwordInputError input:focus {
    color: #da7676;
}

.passwordInput:has(input:focus) {
    border: 3px solid #68a3a3;
}

.passwordInputError:has(input:focus) {
    border: 3px solid #da7676;
}
