.bulletin-board-page {
    display: flex;
    max-width: 960px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.advertisement-body {
    margin: 15px;
    box-sizing: border-box;
    width: calc(100% - 30px);
    display: block;
}

.advertisement-text {
    margin: 0;
    color: #4c4c4c;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
}

.advertisement-login {
    margin-left: 0;
    margin-right: auto;
    color: #68A3A3FF;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;

}

.advertisement-type-label  {
    color: #68A3A3FF;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.advertisement-dots {
    margin-left: auto;
    margin-right: 0;
    color: #68A3A3FF;
}

.advertisement-frameless-button {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
    border: none;
    background: none;
    height: auto;
    color: #68a3a3;
}

.advertisement-frameless-button:hover {
    color: #3e8d8d;
}

.advertisement-label {
    position: relative;
    display: flex;
    margin: 0;
    align-items: center;
    width: 100%;
}

.advertisement-show-more {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    width: max-content;
    color: #68a3a3;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    background: none;
    border: none;
}

.advertisement-show-more:hover {
    color: #3e8d8d;
}

.advertisements-list {
    margin: 0 10px 0 20px;
    width: 100%;
    overflow-x: clip;
}

.advertisement-price-block {
    margin: 10px 0 0 0;
    justify-content: right;
    width: 100%;
    display: flex;
    color: #4c4c4c;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    text-align: right;
}

.advertisement-spacer-price {
    margin: 0 5px;
}

.advertisement-right-button-bar {
    min-width: 230px;
    height: min-content;
}

.advertisement-edit-body {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 15px;
}

.advertisement-edit-buttons {
    margin-left: auto;
    justify-content: right;
    text-align: right;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: min-content;
}

.advertisement-edit-button-clip {
    font-family: 'Russo One', sans-serif;
    font-size: 10px;
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: min-content;
    color: #68a3a3;
}

.advertisement-edit-button-clip:hover {
    color: #3e8d8d;
}
.advertisement-edit-button-clip svg {
    width: 20px;
    height: auto;
}

.advertisement-edit-fields {
    margin: 0 1px;
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) max-content max-content;
    grid-gap: 10px;
    width: 100%;
    justify-content: center;
}

.free-cost-label {
    color: #68a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
    font-family: 'Russo One', sans-serif;
    font-size: 12px;
    margin: 20px;
}

.search-icon {
    width: auto;
    height: 20px;
}

.is-free-button {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: auto 20px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background: none;
    font-family: 'Russo One', sans-serif;
    color: #68a3a3;
    grid-row: span 2;
    font-size: 12px;
}

.is-free-button:hover {
    background: rgba(0, 0, 0, 0.06);
}

.is-free-button-active {
    background: #3e8d8d;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: auto 20px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    grid-row: span 2;
    font-size: 12px;
}

.is-free-button-active:hover {
    background: #68a3a3;
}

.filter-table {
    display: grid;
    grid-template-columns: max-content 1fr 1fr max-content;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
}

.chats-window-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
}

.chats-window-body {
    display: flex;
    border-left: solid 2px #68a3a3;
    min-width: 320px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.chats-list {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    min-width: 270px;
    width: 270px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.chats-user {
    display: flex;
    border-bottom: solid #68a3a3 2px;
    align-items: center;
    box-sizing: border-box;
}

.chats-user h3 {
    color: #68a3a3;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.chats-user-icon {
    margin: 20px;
    border-radius: 50%;
    background: #68a3a3;
    border-bottom: solid 2px #68a3a3;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chats-user-icon span {
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    height: 20px;
}

.chats-user:first-child {
    border-radius: 7px 0 0 0;
}

.chats-user:last-child {
    border-bottom: none;
}

.chats-list::-webkit-scrollbar {
    width: 5px;
    float: left;
}

.chats-list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.chats-list::-webkit-scrollbar-thumb {
    border-right: 30px transparent;
    background-color: #68a3a3;
    border-radius: 4px;
}

.chats-header {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #68a3a3;
    margin-bottom: 5px;
}

.chats-header svg {
    width: 28px;
    height: auto;
    fill: #68a3a3;
}

.chats-header button {
    margin-left: auto;
    padding: 0;
    margin-right: 5px;
}

.chats-header h3 {
    color: #68a3a3;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
    margin-left: 20px;
}

.chats-footer {
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chats-footer button {
    width: max-content;
    height: max-content;
    color: #68a3a3;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 10px;
}

.chats-footer button svg {
    width: 18px;
    height: 18px;
}

.chats-footer button:hover {
    color: #3e8d8d;
}

.chats-footer input{
    width: 100%;
    height: 20px;
    margin: 5px;
    border: #68a3a3 2px solid;
    border-radius: 10px;
    padding: 5px;
    color: #68A3A3FF;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
}

.left-message {
    margin: 5px;
    border-radius: 10px 10px 10px 0;
    border: #68a3a3 solid 2px;
    width: max-content;
    padding: 7px;
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    color: #68a3a3;

}

.right-message {
    border-radius: 10px 10px 0 10px;
    background: #68a3a3;
    width: max-content;
    margin: 5px;
    padding: 7px;
    color: white;
    margin-right: 10px;
    margin-left: auto;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
}