body {
    margin: 0;
    padding: 0;
}

.signup-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-text-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: "Russo One", sans-serif;
    color: #96bfbf;
    margin-top: 10px;
    background: none;
    border: none;
    width: max-content;
    height: max-content;
}

.signup-text-link:hover {
    color: #68a3a3;
}

.signup-panel {
    width: 100%;
    max-width: 370px;
    height: max-content;
    display: block;

}
.signup-page-icon {
    display: flex;
    justify-content: center;
    margin: 20px;
    @media (min-height: 670px) {
        position: absolute;
        top: 20px;
        left: 31px;
        margin: 0;
    }
}

.block {
    max-height: 0;
    transition: max-height 0.75s ease-out;
    overflow: hidden;
}

.block-show {
    opacity: 1;
    max-height: 500px;
    transition: max-height 0.75s ease-in;
}

.error-text {
    margin-top: 7px;
    margin-bottom: 7px;
    height: 20px;
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Russo One", sans-serif;
    color: #da7676;
}


.password-tip {
    margin: 0  7px;
    max-height: 0;
    overflow: hidden;
    width: calc(100% - 14px);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(0, 106, 105, 0.7);
    transition: max-height 1.0s ease-out;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 500;
}

.password-tip-show {
    margin: 0 7px;
    width: calc(100% - 14px);
    max-height: 500px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(0, 106, 105, 0.7);
    transition: max-height 1.0s ease-in;
}

.password-tip-show-error {
    margin: 0 7px;
    width: calc(100% - 14px);
    max-height: 500px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 7px rgb(218, 118, 118);
    transition: max-height 1.0s ease-in;
}