.textInput {
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 5px 15px;
    border: 3px solid #96bfbf;
    font-family: 'Russo One', sans-serif;
    color: #96bfbf;
    border-radius: 10px;
}
.textInput::placeholder {
    color: #96bfbf;
}
.textInput:focus {
    border: 3px solid #68A3A3;
    outline: none;
    color: #68A3A3;
}