.loading {

    height: 4rem;
    border-radius: 50%;
    box-sizing: border-box;
    border-top: 8px solid #000;
    border-left: 8px solid #000;
    border-right: 8px solid #ff00;
    animation: loading .7s infinite linear;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}